@page "/admin"
@inherits AdminComponent
@layout Layout.Layout

<Error ref="Error"/>

<h3>Users</h3>

<div class="table-responsive" style="margin-bottom: 10px;">
    <table class="table">

        <thead>
            <tr>
                <th>Email</th>
                <th>Admin</th>
                <th>Office</th>
                <th></th>
            </tr>
        </thead>

        @if (UserGridLoading)
        {
            <tr>
                <td colspan="4" style="text-align: center;">
                    <div class="spinner-border text-secondary" role="status" />
                </td>
            </tr>
        }

        @foreach (var user in Users)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.IsAdmin</td>
                <td>@user.Office</td>
                <td>
                    <button type="button" onclick="@(() => ClickUserAdmin(user.Email))" class="btn btn-outline-warning btn-sm">Admin</button>
                    <button type="button" onclick="@(() => ClickUserDelete(user.Email))" class="btn btn-outline-danger btn-sm" style="margin-left: 5px;">Delete</button>
                </td>
            </tr>
        }

    </table>
</div>

<h3>Offices</h3>

<div style="margin-bottom: 10px">
    <button type="button" onclick="@ClickOfficeAdd" class="btn btn-primary">Add</button>
</div>

<div class="table-responsive">
    <table class="table">

        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>

        @if (OfficeGridLoading)
        {
            <tr>
                <td colspan="4" style="text-align: center;">
                    <div class="spinner-border text-secondary" role="status" />
                </td>
            </tr>
        }

        @foreach (var office in Offices)
        {
            <tr>
                <td>@office.Name</td>
                <td>
                    <button type="button" onclick="@(() => ClickOfficeEdit(office))" class="btn btn-outline-warning btn-sm">Edit</button>
                    <button type="button" onclick="@(() => ClickOfficeDelete(office))" class="btn btn-outline-danger btn-sm" style="margin-left: 5px;">Delete</button>
                </td>
            </tr>
        }

    </table>
</div>

<Modal ref="EditOfficeModal"
       Id="editOfficeModal"
       Title="Edit Office"
       ButtonText="Save">
    <ModalContent>
        @if (SelectedOffice != null)
        {
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    @if (SelectedOffice.Id.HasValue)
                    {
                        <input type="hidden" id="id" value="@SelectedOffice.Id"/>
                    }
                    <input type="text" class="form-control" id="name" placeholder="enter a name" bind="@SelectedOffice.Name"/>
                </div> 
            </form>
        }
    </ModalContent>
</Modal>

<Modal ref="DeleteOfficeModal"
       Id="deleteOfficeModal"
       Title="Delete"
       ButtonText="Delete">
    <ModalContent>
        Are you sure you want to delete this office?
    </ModalContent>
</Modal>